/*     // 자바스크립트를 사용한 객체 정의 함수 안에 넣어 활용
    const buttonStyle ={
        fontSize :"40px",
        color:"white",
        backgroundColor: "green",
        width :"100px",
        height : "70px",
        textalgin : "center",
        padding: "5px",
        borderRadius : "15px"
        } */

button{
    font-size: 40px;
    color: rgb(221, 221, 221);
    width: 150px;
    height: 70px;
    text-align: center;
    padding: 5px;
    border-radius: 15px;
    border-color: black;
    border-width: 5px;
}

.counterButton {
    background-color: rgb(37, 114, 37);
}

.resetButton {
    background-color: rgb(87, 0, 72);
}

.count {
    font-size: 100px;
    padding: 30px;
    color: rgb(51, 51, 51);
}

.Counter > div {
    display: flex;
    gap: 40px;  /* 버튼 사이 40px 간격 */
    justify-content: center;
}

.totalCount{
    font-size: 150px;
    color: rgb(0, 0, 0);
}

.Counter {
    margin-bottom: 20px;  
}